[2013-06-24 17:04] toomey8 opened #3 "Possible to make case insensitive?"
Great plugin! Is it possible to make it case insensitive?

Open question: at http://stackoverflow.com/questions/17280247/case-insensitive-f-key-in-vim

[2013-07-17 15:30] #3 closed, assigned to nobody

[2013-09-29 06:12] stewart opened #4 "Breaks with period character"
Given this line of Ruby (`_` == cursor):

[code]

In normal mode, if I do `f.`, it repeats my previous action (in this case, text substitution) instead of jumping to the `.` character.

[2013-09-29 16:34] #4 closed, assigned to nobody

[2013-11-14 04:41] maxfl opened #6 "More persistent repeating"
When after using clever-f, say 'fj' and typing something in insert mode it is not possible to repeat the same search again.
Without clever f I would do 'fjiTYPING<ESC>;.' to jump again and repeat typing again. But in case of clever-f ';' doesn't work anymore and 'f' itself asks for a character.

Is it possible to fix ';' and '.' keys while they are needed sometimes?

Thanks.

[2014-03-16 14:52] cdlm opened #8 "Repeat like key pressed to repeat"
If you jump to a character x, using `fx`, then both `f` and `t` will jump to the next occurrence of x, but `t` does the same (i.e. it just repeats the initial `fx` jump).

IMHO, `f` should do a further jump in a f-ish way, and `t` in a t-ish way, independently of whether the initial jump was `fx` or `tx`. For instance, `fxt` should jump to _before_ the second occurrence of x. Of course, likewise f

[2014-04-11 10:27] Konfekt opened #9 "Cursor jump to command line with g:clever_f_mark_cursor = 0"
The cursor, after hitting f and waiting for a character, jumps for a short time to the end of the command line and returns. Can this be toggled off ?

[2014-04-11 13:29] rhysd opened #10 "Repeat `f` mapping with `.` generates garbage in command line."
## How to reproduce

`dfa` → `.`

At first, the area which begins at cursor and ends at `a` would be deleted.  And then, the same action is executed by `.`.
However,  the second action generates below garbage in command line:

[code]

[2014-04-11 13:37] #10 closed, assigned to nobody

[2014-04-12 17:50] #9 closed, assigned to rhysd

[2014-05-23 11:22] pirj opened #11 "Reset repeat on Escape"
Is there a quick option to make clever-f forget about the character to search not only on movement, but also on Esc.
After all, 'f' is not so consistent when:

[code]

This is as expected (cursor stays still), but:

[code]

In this case cursor moves and clever-f won't find next match anymore.

Would be nice if there were an option not to rely on previous_pos, and just reset clever-f on Esc (or C-f

[2014-06-08 21:47] joeytwiddle opened #12 "Demonstration GIF should not use 'f' as the search char!"
`fffffff`  It's just confusing.  ;)

[2014-07-28 15:17] #12 closed, assigned to rhysd

[2014-08-05 14:52] cohama opened #13 "'fFtT' keys can not be input on select mode"
`map f` されているので `fFtT` のキーがセレクトモードで入力できません。
セレクトモードでは印字可能文字を入力すると、選択範囲が入力文字で置換されることが期待されているのでこの挙動は neosnippet などセレクトモードを利用するプラグインで問題を起こします。 See `:h Select-mode-mapping`

再現手順
1. 適当に文章を打つ
2. `v<C-g>` でセレクトモードになる
3. `fFtT` が入力できない

[2014-08-05 15:09] #11 closed, assigned to rhysd

[2014-08-05 15:47] #13 closed, assigned to nobody

[2014-08-24 10:25] rhysd opened #14 "Target character is highlighted even if the target character is not found."
`\%#` is the place of cursor.

[code]

In this situation, `fa` doesn't move the cursor and clever-f doesn't start to search the character.  In spite of starting to search,  the target character (in above case, `a` is the one) is highlighted.

[2014-08-25 23:03] InoueReo0406 opened #15 "How can I map `f` and `F` only?"
issueではないのですが質問があり、投票させていただきました。

clever-fについてf F t T の4種類の文字にて検索を行うことができますよね。
これに対してf, F のみを動作させて　t  T を動作させないようにしたいと考えました。

clever-f.vim / plugin / clever-f.vimの

noremap <silent><expr><Plug>(clever-f-t)              clever_f#find_with('t')
noremap <silent><expr><Plug>(clever-f-T)              clever_f#find_with('T')

をコメントアウトさせることで出来るのかと思いましたが違いました。
どのようにいじればよろしいのでしょうか。
お忙しいとは思いますがよろしくお願いします。

[2014-08-25 23:38] #15 closed, assigned to rhysd

[2014-08-26 10:47] #14 closed, assigned to rhysd

[2014-09-05 08:01] ThomsonTan opened #16 "How to unmap f to auto reuse previous pattern character and still use ;/,?"
This is a very useful plug-in, but auto reuse of previous patter char requires reset it or wait it to timeout which is a little undeterministic, Could I make these mapping like the standard behavior?

[2014-09-14 03:51] #16 closed, assigned to rhysd

[2014-09-30 08:38] notEvil opened #18 "visual mode t/T repeat"
t/T doesn't work in visual mode
reason: `s:first_move` is never reset to 0 when in visual mode
see autoload/clever_f.vim  line 181

should be easy to fix :)

[2014-10-01 15:29] #18 closed, assigned to rhysd

[2014-11-28 23:04] ReneFroger opened #19 "Mark character color, how get it working?"
Thanks for sharing this awesome plugin! How does `g:clever_f_mark_char_color` work? I found no example by yet.

For example, when I do: `g:clever_f_mark_char_color="Statement"`

And in my colorscheme the Statement is defined as:

`hi Statement                  guifg=#8a3824    guibg=NONE        guisp=NONE         gui=bold`

But I see no another colors of the matching character when I press f{inser

[2015-02-24 22:26] nathanbraun opened #22 "f and t in macros"
It doesn't look like f and t work in user recorded macros, example:

qqfaq

would record a macro that moves to the next 'a' in a line.  If I do that, then move to another line and call it via:

@q

nothing happens.  Is this something that could be added?  Great plugin, thanks!

[2015-03-01 16:00] rhysd commented on #22
Hi, @nathanbraun

Sorry for the delay :sweat_drops:

I tried `qqfaq` -> `@q` and it seemed to work well in my environment (OS X 10.10 and Vim 7.4p383).
Could you please tell me your environment to reproduce this issue?

[2015-03-11 17:28] hoschi opened #23 "mapping `clever-f-reset` doesn't work"
or I'm too dumb to get it right ... ^^

I tried as normal with:

[code]

with `,` as leader. When I do this `f` doesn't work anymore. Ther cursor jumps to the status line when I press `f` and return to previous position when I press another key to search for that character. But it doesn't search any more :(

[2015-03-25 03:53] kyouryuukunn opened #24 "Clever-f jumps to wrong characters"
Clever-f jumps to wrong characters, If clever-f set like below.
let g:clever_f_ignore_case = 1
let g:clever_f_use_migemo = 1
let g:clever_f_across_no_line = 0

Then, typing "fs" jumps to not only "s" but also "o"
![test](https://cloud.githubusercontent.com/assets/1556311/6818076/112cd410-d2ed-11e4-94bf-ebc4f49e367d.gif)

[2015-03-25 04:02] rhysd commented on #24
I'm replying in Japanese because you're using migemo feature.

報告ありがとうございます．
手元で試してみた限りでは正しく `S` だけにマッチするのですが，そのスクリーンショットの `SOS` はもしかして全角だったりしますか？

[2015-03-25 04:09] kyouryuukunn commented on #24
いえ、半角英数です。

[2015-03-25 04:18] rhysd commented on #24
勘違いしてました，`across_no_line = 0` なんですね．失礼しました．

`across_no_line = 0` のときに `use_migemo = 1` とすると常に入力の文字に対して `migemo` から生成された辞書が使われます．
具体的な辞書定義は[これ](https://github.com/rhysd/clever-f.vim/blob/master/autoload/clever_f/migemo/utf8.vim#L21)です．
そして，どうやら `migemo` のマッチングは入力文字数が少ないときはあまり精度が良くないらしく，`O` も入力 `s` に対してマッチしてしまうようです…

申し訳ないのですが，これはこちらではどうすることもできないので仕様です．`across_no_line = 1` とすると現在行にマルチバイト文字があるかどうかを見

[2015-03-25 05:09] kyouryuukunn commented on #24
了解です。

[2015-03-25 14:18] rhysd commented on #24
@kyouryuukunn

なんとかなりそうなので reopen しました．

[2015-03-25 14:46] rhysd commented on #24
@kyouryuukunn

入力した文字と矛盾する半角文字にヒットしないように手を入れてみました．手元では期待通りに動いています．

[2015-03-26 07:14] kyouryuukunn commented on #24
dev版にて期待通りの動作を確認しました。対応ありがとうございます。

[2015-03-26 07:57] rhysd commented on #24
確認ありがとうございます！
別の箇所でテストが落ちているので，それを直したら master のほうにマージします．

[2015-03-26 16:10] #24 closed

[2015-03-31 17:07] sunaku commented on #8
@cdlm the patch is here: notEvil/clever-f.vim@15af064ac967a784614b6a0931188798efcd715b :crossed_flags:

[2015-05-02 12:28] Loelo opened #25 "Remap the "t" key to another one ?"
Hello !
Thanks for this smart plugin.  Would there be a simple way to replace "t" by "j" because I use a different keyboardmap ? (bépo which is the french Dvorak sort of. j is already remapped as t in my vimrc and t to j but the plugin overwrite this remapping that is done with nnoremap).
Thanks and have a good day !

[2015-05-02 14:09] rhysd commented on #25
Hi, @Loelo.

You can do it by writing a setting to your `vimrc` as following:

[code]

At first, set the variable to prevent clever-f from mapping keybinds automatically.  Then you can map them to your favorite keys.  In above, clever-f's `t` will be mapped to `j` and others will be mapped to default keys.

[2015-05-02 20:26] Loelo commented on #25
Thanks a lot for your fast answer and the advice : exactly what I was looking for and very simple to do !

[2015-05-03 01:59] #25 closed

[2015-05-03 06:55] Loelo commented on #25
Hello, I just noticed : should'nt "T" in the code above be "J" instead ?

[2015-05-03 07:22] rhysd commented on #25
Replacing `T` with `J` like below works well:

[code]

You can see the document for `:map` by `:help :map`.

[2015-05-03 07:26] Loelo commented on #25
All right, thank you and have a nice day !

[2015-05-03 07:34] rhysd commented on #25
:smile:

[2015-11-27 11:06] gyermolenko opened #26 "Enhancement: Modifiable clever_f_chars_match_any_signs list"
I most cases when i hit "f;" (search and go to any sign) i get too many variants. As a result - i've tried it a couple of times and just do not use since.

Could you please add an option like "clever_f_chars_any_signs list" with possibility to limit the list?
".", ",", "_", " ' " are easy to jump by their original name (e.g.  "f.")

[2015-11-27 11:12] gyermolenko opened #27 "Enhancement: Match both low and high register symbols by low register key"
Is it possible to add possibility to jump to high register symbol by its low register key?

Examples:
f2 -> highlights both 2 and @ (and jumps to nearest, of course)
f8 -> * and 8
(excluding regular letters)

Thank you.

[2015-11-30 00:43] rhysd commented on #26
There is no feature to specify the sign, but I think I can add it!

[2015-11-30 05:16] rhysd commented on #26
I tried implementing this feature to [the latest 'dev' branch](https://github.com/rhysd/clever-f.vim/tree/dev).
Could you check the behavior is what you intended?

[code]

[2015-11-30 09:03] gyermolenko commented on #26
Thanks! Works great. I'll let you know if i find any issues with that.
And this is my current configuration:
let g:clever_f_chars_match_any_signs = ';'
let g:clever_f_any_signs_match_signs = "!@#$%^:&+="

[2015-11-30 09:13] rhysd commented on #26
OK, thank you for the confirmation.  I'll use this feature a little more and merge to master branch if no problem is found.

[2016-02-24 13:34] maxfl commented on #6
I've tried to map repeat and reset keys:
[code]
but it seams that they both have no effect. 'verbose map' shows that the mappings are correctly defined.

[2016-09-28 15:18] sappo opened #29 "Enhancement: combine clever-f with shot-f"
I just stumbled acros [deris/vim-shot-f](https://github.com/deris/vim-shot-f) plugin which is a really nice feature for the f,F,t,T keys. But sadly it does not work with clever-f which I like even more :)

Is there a chance to combine them or implement something similar in clever-f? I might be able to do the implementation if I get some pointers.

[2017-02-06 16:30] BjornMelgaard opened #30 "Dont work when I try to find less-than sign (<)"
When I press `f<` or `F<` etc  - less-than sign nor highlighted nor searched, am I one who has such experience?

Neovim, archlinux

[2017-02-07 04:57] rhysd commented on #30
At least in my environment, it works well with neovim. Could you let me know your environment? (neovim version).

And please ensure that clever-f.vim was correctly loaded. For example, `:nmap f` must show the mapping is mapped to `<Plug>(clever-f-...)`. If not, your plugin manager setup maybe failed.

[2017-02-07 04:57] rhysd commented on #30
Note: my environment is

[code]

on macOS 10.11

[2017-02-07 09:59] BjornMelgaard commented on #30
f is mapped correctly, also I have found that f< don't work only in neovim-qt, from terminal it works fine
`vnoremap < <gv` also don't work
I'll close issue, but thanks anyway, :smile:

[2017-02-07 09:59] #30 closed

[2017-02-07 10:05] rhysd commented on #30
Thank you for clarifying it.

[2017-02-22 16:01] eater opened #31 "Clever-f conflicts with wordcount function"
I use this function to keep a live wordcount in the statusline: https://gist.github.com/cormacrelf/d0bee254f5630b0e93c3

When I try to use Clever-f, I get an error
[code]
Is there an easy way to resolve the conflict?

[2017-02-23 05:38] rhysd commented on #31
Do you know which line causes the error? I could not find the code related to clever-f.vim in your gist.

At least it looks that you should use `normal!` instead of `normal`.

[2017-02-23 21:47] eater commented on #31
No, I'm not sure where the conflict is! I didn't write the function, I just found the gist. Changing it to `normal!` is a good idea but doesn't fix the error.

Here's a simplified version of the function that still conflicts:

[code]

[2017-02-23 23:18] rhysd commented on #31
Thank you for reducing code. But I can still not identify the cause of this bug... Could you show me your status line configuration? I need to reproduce.

[2017-02-25 16:40] eater commented on #31
From .vimrc:
[code]

[2017-02-25 16:45] rhysd commented on #31
Thanks. I'll try it.

[2017-02-25 16:50] rhysd commented on #31
I could see the error as below (it seems that it breaks cursor position when entering insert mode, but it looks not related to this issue)

![tmp](https://cloud.githubusercontent.com/assets/823277/23332948/f58efd56-fbc5-11e6-8fe4-816ffbea72c7.gif)

[2017-03-05 18:39] eater commented on #31
Here's a longer set of error messages.

[code]

[2017-06-10 06:13] for-coursera opened #33 "Navigate only certain characters?"
Is it possible to add an option to make clever-f to navigate only certain characters? Like, the beginning and end of words or camelCased words, and the non-alpha characters?

[2017-06-10 06:19] rhysd commented on #33
clever-f.vim is an enhancement of standard `f`, `F`, `t` and `T`. So there is no way to match arbitrary characters. Ignoring cases (e.g. match both `a` and `A`) or any signs (e.g. match `!`, `@`,`#`, ...) options are provided, tho.

[2017-06-10 06:22] for-coursera commented on #33
It's not *matching* arbitrary but more like *ignoring* most of those :). Like this plugin: https://github.com/svermeulen/vim-NotableFt (they don't work together, unfortunately).

[2017-06-19 12:08] kwinczek commented on #29
Another nice feature is what [kepbod/quick-scope](https://github.com/kepbod/quick-scope) does. Unfortunately they don't work well with clever-f. Any chances of getting them play nicely together or implementing similar functionality in clever-f?

[2017-08-31 11:50] chrisbra commented on #31
instead of using a selfmade wordcount function, you can use the builtin `wordcount()` function, which has been included in Vim 7.4.1042

[2017-08-31 13:37] eater commented on #31
Amazing! Thanks, @chrisbra.

[2017-08-31 15:52] rhysd commented on #31
Thank you @chrisbra. @eater, did it solve this issue?

[2017-09-07 08:09] ZSaberLv0 opened #34 "cursor position not right when `set selection=exclusive`"
to reproduce:

1. `set selection=exclusive`
1. assume we have these text (`|` means cursor position)

        |abcdef

1. `v` to enter visual mode
1. press `fc`
    * with clever-f, the result would be (`ab` selected)

            ab|cdef

    * without clever-f, the right result should be (`abc` selected)

            abc|def

[2017-09-07 10:43] #34 closed

[2017-09-07 10:44] rhysd commented on #34
Fixed at 6ce2c36. Could you try the latest?

[2017-09-08 03:24] ZSaberLv0 commented on #34
great work, this did solve the problem

[2017-09-08 06:19] rhysd commented on #31
It looks it is a problem of implementation of the function `WordCount()` It seems to be called while clever-f.vim's `f` is used, but not related to this plugin directly. Closing this.

[2017-09-08 06:19] #31 closed

[2018-03-06 00:06] unphased opened #37 "enable highlights for next matching lines?"
Because clever-f is capable of traversing lines, I think that it would be quite helpful if we could configure it to highlight a bit further out. Of course, highlighting all of the matching chars in the entire buffer is probably too extreme, but somebody might want to do that as well!

Mainly I just want to be able to at least see the next line having the match. So, if i `fZ` and there is a Z 5 lin

[2018-05-09 03:39] jsfr opened #38 "clever-f conflicts with ale"
I'm getting this error occasionally when using clever-f. It seems to be related to https://github.com/w0rp/ale but I'm not really sure what the error is trying to tell me nor whether the issue is with clever-f or ale.

[code]

Any help would be greatly appreciated 🙏

[2018-05-09 05:32] rhysd commented on #38
Do you know the way to reproduce this? I'm also ALE user, and I think I saw the same error once. But I could not reproduce it.

[2018-05-09 05:34] rhysd commented on #38
ALE outputs some messages asynchronously. And clever-f waits an input from user by `getchar()`. So, this issue may occur because ALE echoes some text while waiting user's input with `getchar()`.

[2018-05-10 05:02] jsfr commented on #38
I haven't been able to find the exact set of actions to reproduce this. It seems to happen semi-randomly. I _think_ I've seen it happen more often when I'm on a "roll" in terms of moving fast between edits and movement using `f` or `t`.

[2018-05-13 17:04] rhysd commented on #38
Yeah, it's a timing issue... When editing fast, ALE runs linter multiple times and it shows the results to message area. At the same time, when hitting `f` or `t` and it leads to `getchar()`, this error looks to appear.

I tried some script to reproduce this referring `TruncatedEcho()` function in ALE, but I couldn't. More investigation is necessary..

[code]

[2018-06-17 14:33] kmhofmann commented on #38
I'm seeing a similar issue all the time; also an ALE user:

    Error detected while processing function clever_f#find_with[31]..<SNR>141_getchar:
    line    2:
    E170: Missing :endwhile

[2018-06-18 02:34] rhysd commented on #38
@kmhofmann Is it the entire error message? The message is different from one @jsfr and I saw.

[2018-06-18 04:00] kmhofmann commented on #38
@rhysd Yep, that is the entire error message. I do see this often enough to be a bit annoying (every few minutes in a coding session), and it seems that disabling ALE makes this disappear. It's difficult to prove or to reproduce, though.
The following ALE linters are enabled when this happens: clang, clangtidy, g++.

[2018-06-18 05:52] rhysd commented on #38
@kmhofmann Thanks. Error I saw occurred when using `f`/`t` just after saving the buffer. How about you? And if possible, could you show your ALE configuration? Frequency looks different from me.

[2018-06-18 13:41] kmhofmann commented on #38
Hi @rhysd - sure!
The error can occur any time when editing; I did not notice any increased frequency around saving or any other action.

My base configuration: https://github.com/kmhofmann/dotfiles/blob/07c0c8df75b5077edab4258a93c91948b5ca719b/.vimrc#L715
And some extra project specific configuration on top:
https://github.com/kmhofmann/selene/blob/062cb0a6a05a516a9b8d9a0cc3e779c181be3295/.lvimrc

[2018-06-20 05:54] rhysd commented on #38
@kmhofmann Thank you for the info. It looks your configuration is more aggressive than me. So I think frequency of running linters/fixiers is high.
This issue seems to occur when clever-f waits user input with `getchar()` and at the same moment ALE echoes some messages. So higher frequency of running linters would cause this issue more often.

Let me perform more investigation for this issue (actu

[2018-06-22 23:13] Huxpro opened #39 "Making semicolon behaving like f/t?"
Many vimers might have got used to type `;` for repeating after `f`orward or `t`oward. So It might be reasonable to map `;` with same behaviour as well?

Any thoughts?

[2018-06-25 06:03] rhysd commented on #39
If you use `;` for repeating previous search, I think you don't need to use this plugin. You can use original `f`/`t`. Isn't it sufficient?

[2018-06-26 20:21] Huxpro commented on #39
@rhysd this plugin obviously provides better functionalities e.g. highlighting, searching across lines than `;`. But this plugin also disable `;`. So I was thinking mapping old habits (`;`) with better functionaliies this plugin provided might not be a bad idea

[2018-06-27 06:39] rhysd commented on #39
Thank you for your explanation. I understand your use case. You want to use this plugin but don't want to continue to use `;` rather than repeatable `f`/`t`.
I think `<Plug>(clever-f-repeat-forward)` is available for your use case (and `<Plug>(clever-f-repeat-forward)` for moving backward if you want).

Please try:
[code]

[2018-07-03 18:38] Huxpro commented on #39
Thx @rhysd, this works perfectly for me 👍
Another reason for me doing this is that I also use vim in other editors (VSCode, Atom, Idea) via plugin where `clever-f` is not existing. By keeping to use `;` and `,`, I can see `clever-f` as an incremental enhancement for my native vim rather than a breaking habit change 😎

I have post a PR for adding this tips in #40 BTW 😄

[2018-07-03 18:38] #39 closed

[2018-09-28 01:57] rhysd commented on #38
I could also reproduce the error without clever-f.vim:

[code]

with mapping `nnoremap <silent><expr>m 'i'.nr2char(getchar())."\<Esc>"`

[2018-10-11 23:49] rhysd commented on #38
This issue should be fixed by https://github.com/w0rp/ale/pull/1987. Please update ALE to the latest. If you still see this issue, please let me know by commenting here.

[2018-10-11 23:49] #38 closed

[2018-11-05 03:42] chrisisler opened #42 "Thank you!"
Not an issue - just wanted to say thank you! This plugin **rocks**.

[2018-11-05 03:42] #42 closed

[2019-02-20 21:54] BlooJeans opened #44 "Cursor stuck as underscore after autocompletion"
First of all, I discovered this plugin today and am really enjoying it so far so thanks!

After installing the plugin I was getting some weird cursor issues and managed to find this related issue, which fixed my problem, but I wanted to open an issue here to point to the solution to help others in the future if they run into the same problem.

I was using all default params for clever-f with `Shou

[2019-02-21 08:21] rhysd commented on #44
Thank you for creating this issue with detailed info.

What enabling `g:clever_f_hide_cursor_on_cmdline` does is setting `'guicursor'` option and `t_ve_save` variable. And they will be restored at `finally` clause.

https://github.com/rhysd/clever-f.vim/blob/bc52974b84ca0ee2341370477ee092e1679b620e/autoload/clever_f.vim#L138

[2019-02-21 08:25] rhysd commented on #44
I found following issue.

https://github.com/neovim/neovim/issues/3688

Should I use some other option for Neovim to hide/show cursor? If so, please let me know. I'll update this plugin.

As mitigation, I'll set `0` to `g:clever_f_hide_cursor_on_cmdline` by default on Neovim.

[2019-03-19 07:58] rhysd commented on #44
I understood the reason of this issue. Let's say we remove chars until `x` using `dfx`.

1. At `d`, Neovim changes the shape of cursor to underline
2. At `f`, clever-f remembers the cursor shape (`guicursor` value) and change current shape to 'block-NONE'
3. User enters `x`
4. clever-f restores `guicursor` but the shape is underline

I'll try to fix this.

[2019-03-19 09:03] #44 closed

[2019-03-19 09:04] rhysd commented on #44
If someone is still seeing this issue, please let me know by commenting here.

[2019-04-16 11:37] kuator opened #45 "Using f for next search"
Hi, thanks for a great plugin. I have a question. Is there a way to exit f-repeating mode?
Now, to make another search instead of repeating, I'm pressing some random key.
Is it possible to  make some mapping like `map <esc> call  f-repeating-mode-exit()`.
Thanks in advance

[2019-04-18 06:37] rhysd commented on #45
from [README](https://github.com/rhysd/clever-f.vim/blob/master/README.md)

[2019-04-18 15:51] kuator commented on #45
@rhysd thanks

[2019-04-18 15:51] #45 closed

[2019-06-03 18:10] chinleung opened #46 "Guicursor is overwritten with neovim"
I have the following to change my cursor from a block into an underline:

[code]

Whenever I run `df` to delete a range, my cursor is changed back to a block.

I have to source my config to have it as an underscore again.

This behaviour seems to happen only with Neovim and not Vim itself.

[2019-06-05 00:41] rhysd commented on #46
It's actually an intended behavior due to #44. I understood what is happening.

When running `f` as text object such as `dfx`, exact detailed sequence is as below

1. User input `d`
2. Neovim changes cursor shape to under bar
3. User input `f`
4. clever-f changes `guicursor` shape for hiding cursor
5. User input `x`
6. clever-f changes `ugicursor` to default

The problem is that clever-f cannot kn

[2019-06-05 00:44] chinleung commented on #46
Is there a way for me to disable this? Or change it back to the guicursor of my source?

[2019-06-05 00:45] rhysd commented on #46
Please use following configuration.

[code]

[2019-06-05 00:50] rhysd commented on #46
I think using `guicursor` to hide cursor would not be a good way. Instead, changing `Cursor` color to the same as `Normal` might do the same thing. `winhighlight` might help. I'll check it.

[2019-06-05 13:35] chinleung commented on #46
@rhysd  I used the configuration you've provided and it's working for me. My cursor stays the same. :)

Thanks!

[2019-06-05 14:08] #46 closed

[2019-06-26 14:08] yuntan commented on #29
Implemented shot-f like behavior. #47

[2019-06-26 18:30] rhysd commented on #29
Closing as #47 was merged.

[2019-06-26 18:30] #29 closed

[2019-07-10 03:25] nekowasabi opened #49 "Disappear cursor icon's color."
# Description
Disapper cursor color by executing clerver-f

https://vim-jp.slack.com/archives/C03C4RC9F/p1562727930036200

# Reproduce process
1. Hit `f`
2. Hit key to jump char

# Environment
* OS : Windows 10
* vim: kaoriya-gvim
* version: 8.1.1461

# Minimum setting
[code]

[2019-07-10 12:26] rhysd commented on #49
報告ありがとうございます．

一点確認させてください．下記の出力はこの問題の前後でどう変化しますでしょうか？

[code]

これらのオプションがカーソルの形を決めていて clever-f が（一時的に）変更している値なので，お手数ですがご確認をお願いいたします．

一度コードを見直してみましたが，見た感じ問題になる箇所は見つけられなかった＆手元の MacVim 8.1.1517 では再現しませんでした．明日試しに Windows のほうでも見てみます．

[2019-07-10 12:29] rhysd commented on #49
また，一時的に

[code]

としておいていただくことで，この問題は回避できると思いますので，この issue が解決するまではこちらの設定をお使いください．

[2019-07-11 06:20] nekowasabi commented on #49
以下が実行結果となります。
こちらもkaoriya-vimのsnapshotの過去バージョンでの動作を確認してみます

## clever-fコマンド実行前
echo &guicursor
a:blinkon0

echo &t_ve
なにも表示されず

## clever-fコマンド実行後
echo &guicursor
a:blinkon0

echo &t_ve
なにも表示されず

[2019-07-11 08:34] rhysd commented on #49
ありがとうございます．つまり値は変わっていないということですね．復帰処理は意図通り動いている用に見えます．引き続きお手数ですが，下記を試してみていただけませんでしょうか？

[code]

もしこれの最後のステップでカーソルが元に戻らなければ，`guicursor` に値を設定し直してもカーソルの形状がもとに戻らないという Vim のバグの可能性があります．

[2019-07-11 09:15] nekowasabi commented on #49
原因が判明しました。
こちらの設定が原因です。

カーソルのちらつきを抑制するため、
gvimrcに `set guicursor=a:blinkon0`を設定しており、
こちらをコメントアウトすると、正常に動作いたしました。

コメントアウトする前は、最後のステップでカーソルが元に戻りませんでした。

お手数をおかけしてしまい、大変失礼いたしました。

[2019-07-11 09:20] rhysd commented on #49
とりあえず正常に動作したとのことで安心しました．私の手元でも Windows の Vim 8.1.1661 で動作することを確認できました．

ただ最後のステップでカーソルが戻らないのは謎ですね… とりあえずこのプラグインが理由ではなさそうですので，この issue は close することにします．複数回ご確認いただきありがとうございました．

[2019-07-11 09:24] rhysd commented on #49
理由が分かった気がします． `guicursor=a:blink0` は「カーソルの点滅を無効にする」という意味ですが，他のカーソルの形状には影響を与えないみたいです．なので，カーソルが消えた後に `guicursor=a:blink0` をセットしても，点滅が止まるだけで消えたカーソルは戻りません．うーん，これは clever-f.vim のほうで `guicursor` をいじるのは厳しそうですね

[2019-07-11 09:38] #49 closed

[2019-07-11 09:39] rhysd commented on #49
e2fa9ba で修正を入れました．これで gvimrc で `set guicursor=a:blinkon0` しても正しく動作するはずです．

[2019-07-12 00:22] nekowasabi commented on #49
確認しました。
`set guicursor=a:blinkon0`設定ありでカーソルが見えなくなることなしに、
正常な動作を確認しました。
ありがとうございます！

[2019-07-22 13:53] marselmustafin opened #51 "ct/cf combinations change cursor appearance"
Looks like plugin resets some cursor attributes after `ct/cf` combinations, before the change my cursor was horizontal, but after `ct` command it became a block:
![июля-22-2019 16-45-06](https://user-images.githubusercontent.com/19539397/61637462-3f677380-aca0-11e9-9e21-a60ae7d7f94b.gif)
Tried to disable plugin in `.vimrc` and it helped, so I'm sure problem related to the plugin. If there's some h

[2019-07-23 10:27] rhysd commented on #51
Could you give more information for reproducing this?

1. Which Vim or Neovim are you using?
2. The version of Vim/Neovim
3. The output of `set guicursor` before reproducing this
4. The output of `set guicursor` after reproducing this

[2019-07-23 16:30] marselmustafin commented on #51
@rhysd
1. Neovim
2. 0.3.8
3. guicursor=n-v-c-sm:block,i-ci-ve:ver25,r-cr-o:hor20,n:hor20-Cursor/lCursor
4. guicursor=n-v-c-sm:block,i-ci-ve:ver25,r-cr-o:hor20

[2019-08-09 09:58] rhysd commented on #51
I'm sorry for the delay. I could not spare time to touch this issue.

And thanks for the clarification. Now I could reproduce this with Neovim v0.3.8 and clever-f.vim 49317cf235bf122d5bbc1c08c3782293904b53cb

[2019-08-09 10:33] #51 closed

[2019-08-09 10:35] rhysd commented on #51
I fixed that restoring cursor is not applied on operator-pending mode on neovim at baceb2c. Now cursor shape should not be changed while operator-pending mode `f` and `t`.

[2019-08-27 20:18] marselmustafin commented on #51
@rhysd thank you!

[2019-10-18 18:04] AlexDikelsky opened #52 "Introduction in documentation is a little unclear"
In `doc/clever-f.txt`, it says

This is a little unclear because doing something like `fpFF` starting at "start here"

```first p second p    start here     third p```

Will take you back to the first p rather than one of the other ones.

[2019-11-22 17:59] dagadbm commented on #38
i dont use ale but i just got this error using coc.
any way how i can fix this or notify maintainers of coc what the error actually is?
i know 0 of vim script :(

[2019-11-22 18:00] dagadbm commented on #38
its weird because im not even using clever f features.. im just doing delete til motions..

[2019-11-30 23:54] yudisupriyadi123 opened #53 "Error: Argument of map() must be a List or Dictionary"
After I press "fs" to jump to 's' character i got this error:

[code]

Removing this setting making it works again:
`let g:clever_f_repeat_last_char_inputs='<Tab>'`

My vim version is:

[code]

[2019-12-01 05:14] rhysd commented on #53
It's because your configuration is not correct. Please try:

[code]

[2020-02-10 01:54] aliveupstairs commented on #19
any updates?

[2020-02-12 07:18] rhysd commented on #19
At least on my laptop above config I showed works fine with both GUI version and CUI version. What I can say is,

[code]

this color definition only defines colors for GUI version. It does not make any color on CUI version.

[2020-04-30 19:30] Arnie97 commented on #8
@rhysd Would you like to merge this patch back to the mainline? We could also add a new flag to make this behavior optional.

[2020-09-03 16:58] rhysd commented on #53
closing as no response

[2020-09-03 16:58] #53 closed

[2020-11-03 13:59] ztoiax opened #56 "unmap T"
How to unmap T key in init.vim

[2020-11-10 19:25] Akuseru1 opened #57 "Breaks lazyredraw"
when using a macro with lazyredraw **on**, the screen should not redraw, but when using f, F, t and T, the screen will always redraw.

I tested this with a bare neovim config

[2020-11-11 17:08] rhysd commented on #57
Please provide steps to reproduce the issue.

[2020-11-11 17:09] rhysd commented on #56
[code]

[2020-11-11 17:09] #56 closed

[2020-11-11 17:42] Akuseru1 commented on #57
1. Install clever-f in neovim
2. open a file with some text
3. press q and any letter to start a macro
4. use f, F, t or T in the macro
5. press q to save the macro
6. run the macro on any number of lines

[2020-11-19 06:27] rhysd commented on #57
I tried following steps but it worked correctly. Can you provide more exact steps and expected/actual behaviors?

1. Install clever-f.vim
2. Open file with some text
3. `set lazyredraw`
4. `qa` to start macro recording
5. `faff` to move cursor to the 3rd 'a'
6. `q` to stop macro recording
7. `0` to move cursor to the head of line
8. `@a` to run the macro
9. Check the cursor moved to the 3rd 'a' ag

[2020-11-19 15:58] Akuseru1 commented on #57
as an example, say you have a file with this line `abc { abc }` repeated 5000 lines, like this
[code]
if you create a macro for deleting the `{ abc }` part in every line, you would do it like this:

1. `qa` start macro
2. `t{d$0j` delete { abc } and move to the beginning of the next line
3. `q`
4. `99@a`

**Actual Behaviour**
Applying this macro with `set lazyredraw` doesn't work, you can see how

[2020-11-19 16:11] rhysd commented on #57
Thank you for the details. Let me try it out.

[2020-11-20 10:33] #57 closed

[2020-11-20 10:34] rhysd commented on #57
I could fix the issue at 52e0025. Please update to the latest. Thank you for the details to reproduce the issue.

[2020-11-20 10:35] rhysd commented on #57
Note that this issue was only fixed in below versions.

- Neovim 0.4.0 or later
- Vim 8.1.0020 or later

[2020-12-05 06:26] smartding opened #58 "underline target characters without changing its color"
`g:clever_f_mark_char_color` allows me to set highlight group of target characters, but I just want to underline the  target characters while keeping the rest of its original highlight setting.
Is this possible?

[2020-12-28 12:53] rhysd commented on #58
[code]

Try this.

[2021-02-04 21:58] Akuseru1 opened #59 "Breaks macros"
Say you have the following line `1a 2a 3a 4a 5a`, and you wish to delete all of the `a` in this line, to do this you record the following macro: `qqfax` which leaves you with the following line after recording: `1 2a 3a 4a 5a`. from there, to delete the rest of the `a` you would simply call the macro by doing 4@q.

# Expected Behaviour
to get  a line like this: `1 2 3 4 5`

# Actual Behaviour
`1 2

[2021-03-01 15:33] rhysd commented on #59
I apologize that this issue is missed. I'll take a look

[2021-03-01 15:48] rhysd commented on #59
I created a script for this:

[code]

[2021-03-01 15:55] rhysd commented on #59
I understood what happened.

[code]

Having this text and cursor is on `1` and `q` register has `fax`. When running `2@q`, it simply enters input `faxfax`.

The first `fax` runs as expected. It removes first `a` after `1`. Now text is `1 2a` and cursor is on the whitespace.

Remaining input is `fax`. Since the cursor does not move after first `fa`, clever-f.vim repeats searching `a` character with

[2021-03-01 16:03] #59 closed

[2021-03-01 16:04] rhysd commented on #59
038b09c addressed this issue.

[2021-03-01 16:10] emiham opened #60 "Clear highlights after timeout"
Just found this addon and I really like it!

One thing that struck me though is that if you set a timeout the highlights remain even after it's triggered. I think it would make sense to clear them once you no longer have the option to jump to them without starting a new search.

[2021-03-03 14:05] rhysd commented on #60
Can you show some example? If target character exists in the line, it means cursor can always jump to it. Cursor can go backward with `F` after going forward.

[2021-03-03 14:10] rhysd commented on #60
BTW I implemented highlight timeout today. It might be helpful for you.

https://github.com/rhysd/clever-f.vim#highlight-timeout

[2021-03-04 09:53] emiham commented on #60
I just meant that you can't go there with just `f` (which is the point of the timeout), but you can of course still reach it with a new search.

Thanks for the incredibly quick fix, it works perfectly!

[2021-03-04 09:53] #60 closed

[2021-04-02 02:26] smartding commented on #58
thanks.

[2021-04-02 02:26] #58 closed

[2021-04-18 22:03] JoseConseco commented on #22
6 years later I can confirm it does not work well with macros - if you use f 2x in row. eg:

`use  'macro_wont/work'`

We have cursor on beginning of line and macro is: go forward  to second  quote, and then paste text in there.
On replaying macro we should get:
`use 'macro_wont/work'PASTE`

But we get no result at all.
@rhysd  hope u can make it work since plugin is great

[2021-05-01 11:22] zlksnk commented on #23
@hoschi have you got it working?

[2021-05-02 11:45] rhysd commented on #23
Can you show exact steps? I tried the mapping and it worked as expected in my side

[2021-05-02 15:52] hoschi commented on #23
Hm. `f` works now, with the mapping installed.

However, `,f` doesn't seem to reset "clever f". When I start searching by `fn` for char "n" I see highlights for every "n". My use case is that I want to search for another character, but pressing `,f` still searches for "n".

[2021-05-03 07:31] rhysd commented on #23
Thanks for the comment. I'm reopening this and will look into it.

[2021-05-04 04:21] rhysd commented on #23
I tried the following steps but it did not reproduce this issue. Could you try the same?

1. Save the following `vimrc` file in current directory
2. Open Vim with `vim -N -u ./vimrc`
3. Search some character for example `faff`
4. Type `,f`
5. Type `fb` and check if 'b' is searched with this plugin

[code]

[2021-05-04 04:37] rhysd commented on #22
@JoseConseco Would you explain your sequence with what you typed? I want to reproduce exactly the same issue.

My understanding is:

1. Save the following contents as `foo.txt`
2. Open Vim
3. `qq`
4. `f'f` (move to the second quote)
5. `p` (paste something)
6. `q` (stop recording macro)
7. Go to next line
8. `@q`

[code]

[2021-05-04 09:04] hoschi commented on #23
That actually works! I guess I need then to find the problem in my (not so small) config 🙃.

[2021-05-04 12:03] rhysd commented on #23
I recommend to check `:nmap <Leader>f` in your Vim.

[2021-05-04 14:29] JoseConseco commented on #22
Yes see below - first I record qq  macro with - f'f  action. Then I try to re-run it with @q

https://user-images.githubusercontent.com/13521338/117019060-5bad9680-acf5-11eb-8e8d-8bc46d65ae3a.mp4

Cursor goes to completely wrong place - it goes  bottom line at the end of video - after running the macro.   In any case I  switched to vim-sneak so if you are not longer working on developing this plug

[2021-05-04 15:04] hoschi commented on #23
I checked that first, it shows only the binding to clever-f

[2021-05-14 16:07] rhysd commented on #23
If you find this issue is a problem of this plugin, please let me know by leaving a comment. Closing this issue meanwhile.

[2021-05-14 16:07] #23 closed

[2021-05-27 09:49] W4RH4WK commented on #22
I can also confirm that there are instances where clever-f does not work with macros correctly.

It'd be fine for me if clever-f is disabled during macro recording / replay.

[2021-06-07 14:29] emr-arvig commented on #19
This worked for me

Had to put _after_ colorscheme

[code]

I am not sure why the highlight link is not working when there is an obvious if statement that should do it, but for whatever reason this is what I had to do.

[2021-06-13 11:08] ram02z opened #61 "`<Plug>(clever-f-reset)` doesn't reset highlight"
I have the following map in my config:
`nmap <Esc> <Plug>(clever-f-reset)`

Moving the cursor resets the highlights, but pressing `<Esc>` doesn't. However, it does reset the searching character.

[2021-06-14 15:38] macintacos commented on #61
Hack I did was just add `:noh<CR>` at the end of it. Would be nice to not have to do that though.

[2021-06-18 15:40] Akuseru1 opened #62 "Breaks macros after second press of t or f"
Say you have the following line `a,, b,,`, and you wish to delete the extra `,` after each letter, to do this you record the following macro: `qqf,fx` which leaves you with the following line after recording: `a, b,,`. then you would run the macro again with @q

# Expected Behaviour
to get  a line like this: `a, b,`

# Actual Behaviour
`a,b,,`

# steps to reproduce
1.   qq start macro
2.   f,fx (f

[2021-06-24 07:32] lyndhurst commented on #26
Hi,
I stumbled upon this issue while looking for this exact feature, and I am glad to see it is already implemented.
However, I cannot find `g:clever_f_any_signs_match_signs` variable in the help page, and seeing the last comment is about 6 years old, I am wondering what is the status on this feature and if it was merged to the master branch.
Thank you for letting me know.

[2021-08-15 00:10] TheNomadicAspie opened #63 "Changing highlight color"
I really don't like the red highlight, and am trying to figure out how to change it. The only example I can find is [here](https://github.com/rhysd/clever-f.vim/issues/19) which never had a resolution. I just want a black background with white text for the highlight, is there someway to do that? I did ":so $VIMRUNTIME/syntax/hitest.vim" to check my highlight groups and found one that was close cal

[2021-08-15 00:17] #63 closed

[2021-09-02 14:44] feedoom opened #64 "add number of character"
I has a good idea. When i type `f{char}`,addition to highlighting character, also can show numbers around characters(the number of repetitions of that character). Then i can type `{count}f` to jump.

[2021-09-10 18:35] jam1015 commented on #22
There might be a solution in this comment thread: https://github.com/ggandor/lightspeed.nvim/issues/7

[2021-09-10 18:36] jam1015 commented on #62
There might be a solution in this comment thread: ggandor/lightspeed.nvim#7

[2022-02-17 16:32] dahmc commented on #22
For reference to whoever has the same issue, this is what I use which works just fine. (Analog to the issue of lightspeed.)
It disables the plugin during both running and the execution of plugins.

[code]

[2022-04-10 22:52] rockyzhang24 opened #65 "E523 in nvim_buf_set_lines"
Have been using `clever-f` for a really long time. Recently, I encounter an error that is shown below

<img width="1715" alt="image" src="https://user-images.githubusercontent.com/11582667/162643195-5eb69ba1-0dcb-4951-b76d-b8666883053f.png">

I am using [fidget.nvim](https://github.com/j-hui/fidget.nvim) to show the progress of LSP. I am not sure whether this issue is caused by `clever-f` or `fidg

[2022-04-11 05:00] rhysd commented on #65
Please describe the reproduction of this issue step-by-step.

[2022-04-11 05:34] rockyzhang24 commented on #65
Sure.
1. Use Neovim the latest nightly version
2. Install [fidget.nvim](https://github.com/j-hui/fidget.nvim) and enable it by calling `lua require "fidget".setup {}` in `init.vim`
3. Install `lua` LSP server and enable it via [nvim-lspconfig](https://github.com/neovim/nvim-lspconfig/blob/master/doc/server_configurations.md#sumneko_lua). For this step, just use `lua` as an example because `lua` LS

[2022-04-12 07:17] rockyzhang24 commented on #65
@wookayin Sure.

[2022-04-12 07:17] #65 closed

[2022-05-14 13:08] dragon-architect commented on #61
That hack was the exact configuration that I attempted in my own vimrc, before I even saw this open issue, and it didn't work for me. I tried both `:noh<CR><Plug>(clever-f-reset)` and `<Plug>(clever-f-reset):noh<CR>`.

[2022-05-14 13:16] dragon-architect opened #66 "clever-f triggered by any use of f or t in normal mode"
I have a map in one of my user-written plugin files, `<Leader>fs`, that manually applies a syntax highlight fix. I have `let mapleader=","` in my maps configuration, so the actual map is `,fs`. This map keeps triggering clever-f on me, and invokes a forward-find of the character `s`. On immediate reuse of the map, it'll break the map and invoke a substitution action on the character under the curs

[2022-05-14 17:41] dragon-architect commented on #66
Iiiiiii figured it out. It's a PEBKAC error. I had `let mapleader=","` in a configuration file that was NOT my vimrc, so its effect was local to only the maps in that configuration file. Moved it to the vimrc and everything works perfectly fine again.

[2022-05-14 17:41] #66 closed

[2022-06-24 08:09] BertrandSim commented on #61
I did a little bit of debugging. In my case, I found that it is because the function `clever_f#reset()` returns an empty string (`''`). Changing its return value to a non-empty string that does a no-op, such as `return "\<Esc>"`, works for me.

[2022-06-24 08:10] BertrandSim commented on #61
Alternatively, bypass the <Plug> mapping, and call the reset function directly, that is
[code]

[2022-07-12 11:20] altermo opened #67 "allow"

[2022-07-12 11:21] #67 closed

[2022-07-12 11:22] altermo opened #68 "allow mark_direct across multiple lines"
Currently mark_direct only highlights the current line.
I think that it could be better if it highlighted across multiple lines

[2022-07-23 17:33] drinkitup777 opened #69 "Feature request: Option to fix key direction for `;` and `,`"
Could there be something like `g:clever_f_fix_key_direction`, but for `<Plug>(clever-f-repeat-forward)` and `<Plug>(clever-f-repeat-backward)`? I'm finding myself needing this feature.

[2022-07-29 09:07] BertrandSim commented on #19
Changing the `:colorscheme` resets all highlights to their defaults (including those specified with `:hi link`). That is why the custom highlighting commands have to go after `:colorscheme`. This can be mitigated with an autocommand, eg.
[code]

Regarding the setting of
[code]
The highlights will be cleared after a change in colorscheme. This should be fixed in the plugin itself... let me issue a

[2022-09-20 01:09] #19 closed

[2022-09-22 10:04] ranelpadon opened #72 "Feature Request: Reset highlights when <Esc> key is pressed"
I have this mapping to clear/reset the Vim's **search** results highlights (i.e. when using `/`):
[code]

So, I'm thinking if it's possible to use the `<Esc>` key also to reset the `clever-f` highlights instead of using the cursor keys?

I think it's better UX than using `g:clever_f_highlight_timeout_ms` since sometimes you're not done yet, but the highlight will be auto-cleared. Clearing it on-de

[2022-09-23 05:50] rhysd commented on #72
You can do both `:noh` and resetting highlights.

[code]

[2022-09-23 07:35] ranelpadon commented on #72
@rhysd This works! Thanks for the brilliant tip! Will close this issue now. :)

[2022-09-23 07:35] #72 closed

[2022-10-02 03:55] atweiden opened #73 "Recent commits to clear highlighting break basic functionality of clever-f"
Commits https://github.com/rhysd/clever-f.vim/commit/25e8c6bbbd11c63a831ecd88098643e3a20cbc3f and https://github.com/rhysd/clever-f.vim/commit/02e9871244a8df6cf0db4fd5799d93d0307a04f9 break basic functionality of clever-f for me: pressing <kbd>f</kbd> followed by the character to find, making a change, then pressing <kbd>f</kbd> again, and <kbd>.</kbd>-repeating the previous change, etc.

Unfortun

[2022-10-03 01:27] rhysd commented on #73
what does your 'break' mean? it works fine on my local.

[2022-10-03 10:49] atweiden commented on #73
Vim buffer example.

[code]

Expected behaviour.

Using clever-f and [vim-surround](https://github.com/tpope/vim-surround):

- On line 0, column 0: press <kbd>f</kbd> <kbd>{</kbd> to find first opening curly brace (`{`)

- With Vim cursor on first opening curly brace (`{`): Delete surrounding curly braces (`ds{`)

- Press <kbd>f</kbd> to move Vim cursor to next opening curly brace

- Press <kbd>.<